<link rel="stylesheet" href="/static/plugins/layui/css/layui.css">
<style>
    #toast-container {
        z-index: 9999999999 !important;
    }
    .layui-icon {
        margin-right: 10px !important;
    }
    iframe {
        width: 100%;
        height: 100%;
        display: block;
    }
    html{           /* 解决页面会出现双滚动条问题。overflow: hidden; 溢出隐藏，给一个元素中设置overflow: hidden，那么该元素的内容若超出了给定的宽度和高度属性，那么超出的部分将会被隐藏，不占位。 */
        overflow: hidden;
    }
    body{           /* 解决页面上下左右会出现空白问题。让外框的外边距和内边距都为0 */
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #eee;
        overflow: hidden;
    }
    .layadmin-header {
        height: 50px;
        line-height: 50px;
        margin-bottom: 0;
        border-radius: 0;
    }
    .layui-card {
        /*background-color: #fff;*/
        /*box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);*/
    }
    .layadmin-tabspage-none .layadmin-header .layui-breadcrumb {
        border-top: 1px solid #f6f6f6;
    }
    .layadmin-header .layui-breadcrumb {
        padding: 0 15px;
    }

    .layui-card-header{
        position: relative;
        height: 42px;
        line-height: 42px;
        padding: 0 15px;
        border-bottom: 1px solid #f6f6f6;
        color: #333;
        border-radius: 2px 2px 0 0;
        font-size: 14px;
    }
</style>